* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    font-weight: 500;
    margin-top: 120px;
}

.post-img-wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

header {
    z-index: 10;
    position: fixed;
    height: 120px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 900px;
    max-width: 100%;
    background: #fff;
}

.header-search {
    height: 40px;
    display: flex;
    flex-basis: 40%;
}

.empty-search {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.search-input {
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #3f3e3e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}

.search-btn {
    width: 50px;
    outline: none;
    border: 1px solid #333;
    background-color: rgb(73, 72, 72);
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    transition: 0.1s linear;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #222222;
}

.search-btn:active {
    color: yellow
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

nav a, header .logo {
    text-decoration: none;
    color: inherit;
}

header .logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;   
}

header .logo img {
    display: block;
    height: 50%;
    object-fit: contain;
}


.post {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    height: 200px;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 739px) {
    .post {
        grid-template-columns: 1fr;
        height: 530px;
    }

    header {
        height: 100px;
    }
    .post-img-wrapper  {
        width: 100%;
        height: 300px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

@media screen and (max-width: 450px) {
    
    header .logo {
        flex-basis: 20%;
    }

}

.post-text a {
    color: inherit;
    text-decoration: none;
}

.post-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-img-link {
    display: block;
    width: 100%;
    height: 100%;
}

.post-info {
    color: #888;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    display: flex;
    gap: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-info time {
    font-size: 14px;
}

.post-summary {
    font-size: 17px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.author {
    text-align: center;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.title_form {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
    font-size: 30px;
}

.header-login, .header-register {
    font-weight: bold;
}

.login, .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 10px;
}

.login input, .register input {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid #333;
    outline: none;
    font-weight: bold;
}

button {
    padding: 5px 10px;
    transition: 0.3s linear;
}

.login button, .register button {
    width: 200px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #333;
    font-weight: bold;
}

.login button:active,
.register button:active {
    transform: scale(0.9);
}

.create-post {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px #333;
}

.create-post input {
    outline: none;
    padding: 10px 5px;
    border: 1px solid #333;
}

.react-quill {
    background-color: #fff;
    border: 1px solid #333;
}

.react-quill .ql-toolbar.ql-snow {
    border-bottom: 1px solid #333;
}

.post-page {
    background-color: #f1f1f1;
    padding: 40px;
}

.post-page a {
    color: #000;
}

.post-page-title {
    margin-bottom: 20px;
}

.post-page-info {
    margin-bottom: 20px;  
    display: block; 
}

.post-page-info-time, .post-page-info-username {
    color:#727171;
}

.post-page-content p {
    margin-bottom: 8px;
}

.post-page-img-wrapper {
    display: flex;
    max-height: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.post-btn:active {
    transform: scale(0.9);
}

.control-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background: rgb(73, 72, 72);
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.1s linear;
}

.control-btn:hover {
    background:#000;
}

.control-btn.delete-btn:hover {
    background: rgb(208, 65, 65);
}

.control-btn:active {
    transform: scale(0.9);
}

.control-btn a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.ql-editor {
    max-height: 500px;
    overflow-y: scroll;
}

.pagination-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #000;
    color: white;
}

.icon {
    font-size: 17px;

}

.controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls a {
    display: flex;
    gap: 5px;
    color: rgb(73, 72, 72);
    text-decoration: none; 
    transition: 0.15s linear;
}

.controls a:hover {
    color: #000;
}

.input-file {
    border: 1px solid #333;
    padding: 0px 5px;
}

.input-file > span {
    font-size: 14px;
}

.input-file > input {
    border: none;
}

.last-line {
    display: block;
    margin-top: 100px;
    border-block-color: black;
    border-block-end-width: 2px;
}

.footer {
    margin: 30px;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.footer-list li a {
    color: inherit;
    text-decoration: none;
}

.copyright {
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
}

.copyright span {
    margin-left: 3px;
}

.username-contact {
    text-decoration: none;
    color: #17ae84;
    transition: 0.1s linear;
}
